# Ignorar arquivos de ambiente
.env

# Ignorar cache e metadados do Python
__pycache__/
*.pyc

# Ignorar ambiente virtual
venv/

# Ignorar dados locais, exceto o índice FAISS
data/
vectordb/*
!vectordb/faiss_index/
!vectordb/faiss_index/*

